{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content_body %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/supervisor/dashboard">FishFishJump</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="row">
    <div class="card mb-12">
        <div class="card-header">
            <i class="fa fa-newspaper-o"></i>
            {% if username %}
            Hello,{{ username }}!
            {% endif %}
        </div>
        <a href="#">
            <img class="card-img-top img-fluid w-100" src="/static/image/Jaime&Dragon.jpg" alt>
        </a>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-8">
        <!-- Scrapy Status Bar Chart Card -->
        <div class="card mb-3">
            <div class="card-header"><i class="fa fa-bar-chart"></i> Scrapy Status Bar Chart</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8 my-auto">
                        <canvas id="scrapy_status_bar_chart" width="100" height="50"></canvas>
                    </div>
                    <div id="scrapyd_status_chart_amount" class="col-sm-4 text-center my-auto">
                        <div id="project_amount" class="h4 mb-0 text-primary"></div>
                        <div class="small text-muted">Project Amount</div>
                        <hr>
                        <div id="spider_amount" class="h4 mb-0 text-warning"></div>
                        <div class="small text-muted">Spider Amount</div>
                        <hr>
                        <div id="job_amount" class="h4 mb-0 text-success"></div>
                        <div class="small text-muted">Job Amount</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- Scrapy Status Pie Chart Card-->
        <div class="card mb-3">
            <div class="card-header"><i class="fa fa-pie-chart"></i> Scrapy Status Pie Chart</div>
            <div class="card-body">
                <canvas id="scrapy_status_pie_chart" width="100%" height="100"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script src="/static/chart.js/Chart.min.js"></script>
<script src="/static/js/home-charts.js"></script>
{% endblock %}