{% extends "base.html" %}

{% block head %}
{{ super() }}
{% block title %}Job List{% endblock %}
<link href="/static/datatables/dataTables.bootstrap4.css" rel="stylesheet">
{% endblock %}

{% block content_body %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/supervisor/dashboard">FishFishJump</a>
    </li>
    <li class="breadcrumb-item active">Job List</li>
</ol>

<!-- Pending Job List Data Table -->
<div class="card mb-3">
    <div class="card-header"><i class="fa fa-table"></i>Pending Job List Table</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="pendingJobListDataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Job Id</th>
                    <th>Project Name</th>
                    <th>Project Version</th>
                    <th>Spider Name</th>
                    <th>Args</th>
                    <th>Priority</th>
                    <th>Creation Time</th>
                    <th>Log</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Job Id</th>
                    <th>Project Name</th>
                    <th>Project Version</th>
                    <th>Spider Name</th>
                    <th>Args</th>
                    <th>Priority</th>
                    <th>Creation Time</th>
                    <th>Log</th>
                </tr>
                </tfoot>
                <tbody id="pendingJobListDataTableBody"></tbody>
            </table>
        </div>
    </div>
</div>

<!-- Running Job List Data Table -->
<div class="card mb-3">
    <div class="card-header"><i class="fa fa-table"></i>Running Job List Table</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="runningJobListDataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Job Id</th>
                    <th>Project Name</th>
                    <th>Project Version</th>
                    <th>Spider Name</th>
                    <th>Args</th>
                    <th>Priority</th>
                    <th>Creation Time</th>
                    <th>Start Time</th>
                    <th>Log</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Job Id</th>
                    <th>Project Name</th>
                    <th>Project Version</th>
                    <th>Spider Name</th>
                    <th>Args</th>
                    <th>Priority</th>
                    <th>Creation Time</th>
                    <th>Start Time</th>
                    <th>Log</th>
                </tr>
                </tfoot>
                <tbody id="runningJobListDataTableBody"></tbody>
            </table>
        </div>
    </div>
</div>

<!-- Finished Job List Data Table -->
<div class="card mb-3">
    <div class="card-header"><i class="fa fa-table"></i>Finished Job List Table</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="finishedJobListDataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Job Id</th>
                    <th>Project Name</th>
                    <th>Project Version</th>
                    <th>Spider Name</th>
                    <th>Args</th>
                    <th>Priority</th>
                    <th>Creation Time</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Log</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Job Id</th>
                    <th>Project Name</th>
                    <th>Project Version</th>
                    <th>Spider Name</th>
                    <th>Args</th>
                    <th>Priority</th>
                    <th>Creation Time</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Log</th>
                </tr>
                </tfoot>
                <tbody id="finishedJobListDataTableBody"></tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

<div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <input type="hidden" id="hidden_modal_job_id" value="">
            <input type="hidden" id="hidden_modal_project_name" value="">
            <input type="hidden" id="hidden_modal_spider_name" value="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="logModalLabel"></h4>
            </div>
            <div class="modal-body" id="logModalContent"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

{% block script %}
{{ super() }}
<script src="/static/datatables/jquery.dataTables.js"></script>
<script src="/static/datatables/dataTables.bootstrap4.js"></script>
<script src="/static/js/job_list.js"></script>
{% endblock %}