{% extends "head.html" %}
{% block title %}Login{% endblock %}
{% block body%}
<body class="bg-dark">
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form action="/supervisor/login" method="post">
                {% if error %}
                <div class="form-group">
                    <p>{{ error }}</p>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" name="username" id="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" name="password" id="password" type="password"
                           placeholder="Password">
                </div>
                <input class="btn btn-primary btn-block" type="submit" name="Login">
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}
