{% extends "base.html" %}

{% block head %}
{{ super() }}
{% block title %}Elasticsearch Cluster Health{% endblock %}
<link href="/static/css/percentage-cyclic.css" rel="stylesheet">
<link href="/static/css/switch_button.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet">
{% endblock %}

{% block content_body %}
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/dashboard">FishFishJump</a>
    </li>
    <li class="breadcrumb-item active">Elasticsearch Cluster Health</li>
</ol>

<div class="row">
    <!-- Cluster Info Panel -->
    <div class="col-6">
        <div class="card">
            <div class="card-header">Cluster Info</div>
            <ul class="list-group">
                <li id="cluster_name"
                    class="list-group-item active d-flex justify-content-between align-items-conter"></li>
                <li id="status" class="list-group-item d-flex justify-content-between align-items-center"></li>
                <li id="timed_out" class="list-group-item d-flex justify-content-between align-items-center"></li>
                <li id="number_of_nodes" class="list-group-item d-flex justify-content-between align-items-center">
                    Nodes
                    <span class="badge badge-primary badge-pill"></span>
                </li>
                <li id="number_of_data_nodes" class="list-group-item d-flex justify-content-between align-items-center">
                    Data Nodes
                    <span class="badge badge-primary badge-pill"></span>
                </li>
                <li id="number_of_pending_task"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    Pending Task
                    <span class="badge badge-primary badge-pill"></span>
                </li>
                <li id="number_of_in_flight_fetch"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    In Flight Fetch
                    <span class="badge badge-primary badge-pill"></span>
                </li>
                <li id="task_max_waiting_in_queue_millis"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    Task Max Waiting In Queue Millis
                    <span class="badge badge-primary badge-pill"></span>
                </li>
            </ul>
        </div>
    </div>
    <!-- Transfer data Panel -->
    <div class="col-6">
        <div class="card">
            <div class="col-12">
                <div class="row bg-primary text-center text-white">
                    <div class="col-4 bg-success py-5">
                        <h1><i class="fa fa-lg fa-tree"></i></h1>
                    </div>
                    <div class="col-4 bg-danger py-5">
                        <h1><i class="fa fa-lg fa-bullseye"></i></h1>
                    </div>
                    <div class="col-4 bg-primary py-5">
                        <h1><i class="fa fa-lg fa-flask"></i></h1>
                    </div>
                </div>
                <div id="transfer_data_card_body" class="card-body">
                    <h5>Transfer Data</h5>
                    <hr>
                    <p id="transfer_data_card_text"></p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <!-- Shards Info Panel -->
    <div class="col-6">
        <div class="card">
            <div class="card-header">Shards Info</div>
            <ul class="list-group">
                <li id="active_primary_shards"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    Active Primary Shards
                    <span class="badge badge-primary badge-pill"></span>
                </li>
                <li id="active_shards" class="list-group-item d-flex justify-content-between align-items-center">
                    Active Shards
                    <span class="badge badge-primary badge-pill"></span>
                </li>
                <li id="relocating_shards" class="list-group-item d-flex justify-content-between align-items-center">
                    Relocating Shards
                    <span class="badge badge-primary badge-pill"></span>
                </li>
                <li id="initializing_shards" class="list-group-item d-flex justify-content-between align-items-center">
                    Initializing Shards
                    <span class="badge badge-primary badge-pill"></span>
                </li>
                <li id="unassigned_shards" class="list-group-item d-flex justify-content-between align-items-center">
                    Unassigned Shards
                    <span class="badge badge-primary badge-pill"></span>
                </li>
                <li id="delayed_unassigned_shards"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    Delayed Unassigned Shards
                    <span class="badge badge-primary badge-pill"></span>
                </li>
            </ul>
        </div>
    </div>
    <!-- Active Shards Percentage -->
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">Active Shards Percentage</div>
                    <div class="inner-content text-center">
                        <div id="active_shards_percentage" class="c100 p0 big center">
                            <span>0%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- Transfer Data Modal -->
<div id="transfer_data_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="transfer_data_modal_label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="transfer_data_modal_content" class="modal-content">
            <div id="transfer_data_modal_label" class="modal-header">
                <h5 id="transfer_data_modal_title" class="modal-title">Transfer Data Progress</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="transfer_data_modal_body" class="modal-body">
                <form id="transfer_data_modal_form">
                    <p class="h5 text-center mb-4">Transfer Data Form</p>
                    <div class="form-group">
                        <input type="text" placeholder="MongoDB Host" id="mongo_host" name="mongo_host"
                               class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="MongoDB Port" id="mongo_port" name="mongo_port"
                               class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="MongoDB Database name" id="mongo_db" name="mongo_db"
                               class="form-control"
                               value="">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="MongoDB Collection name" id="mongo_collection"
                               name="mongo_collection"
                               class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="MongoDB Filter field name (Optional)" id="mongo_filter_field"
                               class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Elasticsearch Index name" id="elasticsearch_index"
                               name="elasticsearch_index"
                               class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Elasticsearch Document type" id="elasticsearch_doc_type"
                               name="elasticsearch_doc_type"
                               class="form-control" value="">
                    </div>
                    <div class="form-check">
                        <p>Use id of the MongoDB for transfer data into the Elasticsearch</p>
                        <label class="switch">
                            <input type="checkbox" id="use_mongo_id" value="">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="text-center">
                        <button onclick="enable_transfer()" class="btn btn-outline-primary">Run <i
                                class="fa fa-paper-plane-o ml-1"></i>
                        </button>
                    </div>
                    <hr>
                    <div class="progress">
                        <div id="progress_bar" class="progress-bar" style="width: 0" role="progressbar"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                    <hr>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Auto Transfer Data Modal -->
<div id="auto_transfer_data_modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="auto_transfer_data_modal_label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="auto_transfer_data_modal_content" class="modal-content">
            <div id="auto_transfer_data_modal_label" class="modal-header">
                <h5 id="auto_transfer_data_modal_title" class="modal-title">Auto Transfer Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="auto_transfer_data_modal_body" class="modal-body">
                <form id="auto_transfer_data_modal_form">
                    <p class="h5 text-center mb-4">Form</p>
                    <div class="form-group">
                        <input type="text" placeholder="MongoDB Host" id="auto_mongo_host" name="auto_mongo_host"
                               class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="MongoDB Port" id="auto_mongo_port" name="auto_mongo_port"
                               class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="MongoDB Database name" id="auto_mongo_db" name="auto_mongo_db"
                               class="form-control"
                               value="">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="MongoDB Collection name" id="auto_mongo_collection"
                               name="auto_mongo_collection"
                               class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="MongoDB Filter field name" id="auto_mongo_filter_field"
                               name="auto_mongo_filter_field" class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Elasticsearch Index name" id="auto_elasticsearch_index"
                               name="auto_elasticsearch_index"
                               class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Elasticsearch Document type" id="auto_elasticsearch_doc_type"
                               name="auto_elasticsearch_doc_type"
                               class="form-control" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Auto Transfer Interval Time (Optional, default 60s)"
                               id="interval_time" class="form-control" value="">
                    </div>
                    <div class="form-check">
                        <p>Use id of the MongoDB for transfer data into the Elasticsearch</p>
                        <label class="switch">
                            <input type="checkbox" id="auto_use_mongo_id" value="">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="text-center">
                        <button type="submit" onclick="enable_auto_transfer()" class="btn btn-outline-primary">Run <i
                                class="fa fa-paper-plane-o ml-1"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
{{ super() }}
<script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
<script src="/static/js/elasticsearch/cluster_health.js"></script>
{% endblock %}