@import url("https://fonts.googleapis.com/css?family=Roboto:400,300");

body {
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
}

.pagination-container {
    margin: 100px auto;
    text-align: center;
}

.pagination {
    position: relative;
}

.pagination a {
    position: relative;
    display: inline-block;
    color: #2c3e50;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 8px 16px 10px;
}

.pagination a:before {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background-color: #2c3e50;
    border-radius: 24px;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.pagination a:hover,
.pagination a .pagination-active {
    color: #fff;
}

.pagination a:hover:before,
.pagination a .pagination-active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.pagination .pagination-active {
    color: #fff;
}

.pagination .pagination-active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.pagination-newer {
    margin-right: 50px;
}

.pagination-older {
    margin-left: 50px;
}
