body {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

.container {

}

.headerSearch {
    z-index: 999;
    display: block;
    position: relative;
    width: 100%;
    height: 64px;
    background-color: #fafafa;
}

.logo {
    position: absolute;
    height: 75px;
    top: -2px;
    left: 5px;
    overflow: hidden;
}

.logo a img {
    padding: 0;
    margin: 0;
    height: 90px;
}

.searchForm {
    position: absolute;
    top: 22px;
    left: 150px;
}

.searchBar {
    width: 750px;
    height: 40px;
    padding-left: 10px;
    font-family: arial, sans-serif;
    font-size: 16px;
    border: 0px solid #aaa;
    box-shadow: 0px 0px 3px #6a6a6a;
}

.searchBar:hover {
    box-shadow: 0px 0px 6px #6a6a6a;
}

input {
    outline: none;
}

.headerNav {
    display: block;
    position: relative;
    background-color: #fafafa;
    height: 62px;
    border-bottom: 1px solid #ddd;
}

.headerNav ul {
    position: absolute;
    left: 125px;
    height: 40px;
    width: 750px;
    padding: 0;
}

.headerNav ul li {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-left: 30px;
}

.headerNav ul li a {
    color: #555;
    text-decoration: none;
    font-size: 16px;
}

.headerNav ul li a:hover {
    color: #333;
}

.headerNav ul li:active {
    border-bottom: 3px solid #4d79ff;
    padding-bottom: 20px;
}

.headerNav ul li a:active {
    color: #4d79ff;
    font-weight: bold;
}

.searchResults {
    display: block;
    width: 700px;
    margin-left: 150px;
}

.searchResults ul {
    padding: 0;
    margin: 0;
}

.searchResults ul li {
    list-style-type: none;
}

.searchResults ul li a {
    text-decoration: none;
}

.searchResults ul p {
    margin: 0;
    font-weight: none;
    font-size: 16px;
}

ul p span {
    color: #555;
    font-size: 16px;
    font-family: arial, sans-serif;
}

.searchResultsItem {
    margin: 35px 0;
}

.resultAddr {
    color: #006600;
    font-weight: none;
    font-family: small arial, sans-serif;
    padding: 0;
    margin: 0;
}

h4 {
    color: #999;
    font-family: arial, sans-serif;
    margin: 0;
    font-size: 18px;
}

.relatedSearchesList {
    column-width: 75px;
    column-count: 2;
    width: 500px;
    height: 120px;
}

.relatedSearchesList li {
    display: inline-block;
    padding: 2.5px 0;
}

.relatedSearchesList li a {
    text-decoration: none;
    font-family: small arial, sans-serif;
    font-size: 14px;
    color: #000099;
}

hr {
    border-top: 1px solid #ddd;
}

.pageNumbers ul {
    position: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.pageNumbers ul li {
    display: inline-block;
    margin-right: 6px;
}

.pageNumbers ul li a {
    text-decoration: none;
    color: #4d79ff;
    font-size: 16px;
}

.pageNumbers ul li a:hover {
    text-decoration: underline;
}

.pageNumbers ul li a:active {
    color: black;
    text-decoration: none;
}

.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    border-top: 1px solid #ddd;
}

.location {
    margin-left: 100px;
}

.location ul li {
    display: inline-block;
    color: #aaa;
    font-size: 16px;
}

.location ul li a {
    color: #777;
    font-size: 16px;
    text-decoration: none;
}

.footerNav {
    margin-left: 100px;
}

.footerNav ul li {
    display: inline-block;
    margin-right: 20px;
}

.footerNav ul li a {
    color: #616161;
    text-decoration: none;
    font-size: 16px;

}

body {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

.container {

}

.headerSearch {
    z-index: 999;
    display: block;
    position: relative;
    width: 100%;
    height: 64px;
    background-color: #fafafa;
}

.logo {
    position: absolute;
    height: 75px;
    top: -2px;
    left: 5px;
    overflow: hidden;
}

.logo a img {
    padding: 0;
    margin: 0;
    height: 90px;
}

.searchForm {
    position: absolute;
    top: 22px;
    left: 150px;
}

.searchBar {
    width: 750px;
    height: 40px;
    padding-left: 10px;
    font-family: arial, sans-serif;
    font-size: 16px;
    border: 0px solid #aaa;
    box-shadow: 0px 0px 3px #6a6a6a;
}

.searchBar:hover {
    box-shadow: 0px 0px 6px #6a6a6a;
}

input {
    outline: none;
}

.headerNav {
    display: block;
    position: relative;
    background-color: #fafafa;
    height: 62px;
    border-bottom: 1px solid #ddd;
}

.headerNav ul {
    position: absolute;
    left: 125px;
    height: 40px;
    width: 750px;
    padding: 0;
}

.headerNav ul li {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-left: 30px;
}

.headerNav ul li a {
    color: #555;
    text-decoration: none;
    font-size: 16px;
}

.headerNav ul li a:hover {
    color: #333;
}

.headerNav ul li:active {
    border-bottom: 3px solid #4d79ff;
    padding-bottom: 20px;
}

.headerNav ul li a:active {
    color: #4d79ff;
    font-weight: bold;
}

.searchResults {
    display: block;
    width: 700px;
    margin-left: 150px;
}

.searchResults ul {
    padding: 0;
    margin: 0;
}

.searchResults ul li {
    list-style-type: none;
}

.searchResults ul li a {
    text-decoration: none;
}

.searchResults ul p {
    margin: 0;
    font-weight: none;
    font-size: 16px;
}

ul p span {
    color: #555;
    font-size: 16px;
    font-family: arial, sans-serif;
}

.searchResultsItem {
    margin: 35px 0;
}

.resultAddr {
    color: #006600;
    font-weight: none;
    font-family: small arial, sans-serif;
    padding: 0;
    margin: 0;
}

h4 {
    color: #999;
    font-family: arial, sans-serif;
    margin: 0;
    font-size: 18px;
}

.relatedSearchesList {
    column-width: 75px;
    column-count: 2;
    width: 500px;
    height: 120px;
}

.relatedSearchesList li {
    display: inline-block;
    padding: 2.5px 0;
}

.relatedSearchesList li a {
    text-decoration: none;
    font-family: small arial, sans-serif;
    font-size: 14px;
    color: #000099;
}

hr {
    border-top: 1px solid #ddd;
}

.pageNumbers ul {
    position: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.pageNumbers ul li {
    display: inline-block;
    margin-right: 6px;
}

.pageNumbers ul li a {
    text-decoration: none;
    color: #4d79ff;
    font-size: 16px;
}

.pageNumbers ul li a:hover {
    text-decoration: underline;
}

.pageNumbers ul li a:active {
    color: black;
    text-decoration: none;
}

.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    border-top: 1px solid #ddd;
}

.location {
    margin-left: 100px;
}

.location ul li {
    display: inline-block;
    color: #aaa;
    font-size: 16px;
}

.location ul li a {
    color: #777;
    font-size: 16px;
    text-decoration: none;
}

.footerNav {
    margin-left: 100px;
}

.footerNav ul li {
    display: inline-block;
    margin-right: 20px;
}

.footerNav ul li a {
    color: #616161;
    text-decoration: none;
    font-size: 16px;

}

.copyright {
    font-family: Arial,
    "Helvetica Neue",
    Helvetica,
    sans-serif;
}

.grey {
    font-size: 15px;
    opacity: .75;
}